@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

#wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  perspective: 10px;
}

.container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* z-index: -1; */
}

.container h1 {
  position: relative;
  top: -17rem;
  font-size: 10rem;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.background {
  transform: translateZ(-40px) scale(6);
}

.foreground {
  transform: translateZ(-20px) scale(4);
}

section {
  padding: 5rem 0px;
  background-color: rgb(45, 45, 45);
  color: white;
}

.bg1 {
  background-image: url(assets/sport-1.jpg);
  margin-bottom: 45rem;
}

.bg2 {
  background-image: url(assets/sport-2.jpg);
  margin-bottom: 45rem;
}

.bg3 {
  background-image: url(assets/sport-3.jpg);
  margin-bottom: 40rem;
}

.secHeading {
  font-size: 5rem;
  /* leftrght , topbottom */
  padding: 0 10rem;
}

.text-first-heading {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem 0rem;
  position: static;
}

.text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem 0rem;
  position: relative;
  bottom: -40rem;
}

.bg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  background-color: white;
  padding: 0.5rem 1.5rem;
  color: black;
}
